<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Opendesk on demand</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
  <style>
    #ex1Slider .slider-selection {
      background: #BABABA;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-md-offset-2">
        <h1>Opendesk on demand</h1>
        <form id="add-post" class="cf">
        <div style="margin-top:40px;" >
          <label for="thickness_fader">Thickness</label>
          <input type="range" min="16" max="20" value="18" id="thickness_fader" step="0.1" oninput="outputUpdate(value)">
          <output for="thickness_fader" id="thickness">18 mm</output>
        </div>
        <div style="margin-top:10px;" >
          <label for="length_fader">Length</label>
          <input type="range" min="1500" max="2400" value="2400" id="length_fader" step="1" oninput="outputUpdate2(value)">
          <output for="length_fader" id="length">2400 mm</output>
        </div>
        <div class="row">
          <div style="margin-top:10px;" class="col-md-offset-4 col-md-6">
            <button type="submit" class="btn">Generate files</button>
          </div>
        </div>
        </form>
      </div>
    </div>
  </div>
  <script>
  function outputUpdate(vol) {
    document.querySelector('#thickness').value = vol + " mm";
  }
  function outputUpdate2(vol) {
    document.querySelector('#length').value = vol + " mm";
  }

  $(document).ready(function () {

    var form = $('#add-post');
      form.find('button').click(function (e) {
        e.preventDefault();
        console.log(form.find('#thickness').val().slice(0, -3))
        console.log(form.find('#length').val().slice(0, -3))
        $.ajax({
          url: 'https://opendesk-develop.herokuapp.com/api/v1/inventor-on-demand-beta',
          type: 'post',
          contentType: 'application/json',
          data: JSON.stringify({
            text: form.find('textarea').val(),
            now: Date.now()
          }),
          success: function () {
            _getList();
          },
          error: function () {
            alert('failed add post')
          }

        });
      });
  });

</script>

</body>
</html>
